*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.main-nav{
    width: 100%;
    height: 10vh;
    background-color: #2C3E50;
    padding-top: 2rem;
    position: fixed;
    font-weight: 700;
}


.logo{
    text-transform: uppercase;
    transition: font-size 0.3s;
    margin-left: 15%;
    font-size: 25px;
    float: left;
}

.el-color{
    color: #ffff;
}

.choise-right{
float: right;
margin-right: 10%;
}

.dp-inline-li{
    display: inline;
}

.li-style-type-none{
    list-style-type: none;    
}

.txt-decoration-none{
    text-decoration: none;
}

.px-lg-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.a-color-change:hover{
    color: #1ABC9C;
}

.icon-size{
    width: 13%;
}

.mg-left{
    margin-left: 52rem;
    margin-top: 15vh;
}

.backgorund-color{
    background-color: #1ABC9C;
    padding-top: 6rem;
}

.h1-main{
    color: white;
    font-size: 70px;
    text-align: center;
}

.h2-main{
    color: white;
    font-size: 25px;
    text-align: center;
}

.h3-main{
    color: #2C3E50;
    font-size: 35px;
    text-align: center;
    padding-top: 4rem;
}
.h4-main{
    color: white;
    font-size: 35px;
    text-align: center;
    padding-top: 4rem;
}


.star-icon{
    padding-top: 1rem;;
    text-align: center;
}

.mg-size{
    padding: 50px;
}

.ul-distance-top{
    margin-top: 2rem;
}

.img-size{
    width: 400px;
    border-radius: 10px;
}

.a-hover:hover{
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
}

.container{
    margin-top: 5rem;
    padding-bottom: 8rem;
    background-color: rgba(26, 188, 156);
}

.div-container{
    margin-left: 25%;
    margin-right: 25%;
}

.div-size{
    margin-top: 2rem;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5rem;
}

.inline-div{
    display: inline;
}

.p-container{
    color: white;
    width: 30rem;
    font-size: 22px;
    text-align: center;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.125rem solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.5rem;
    border-bottom: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-border{
    font-size: 1.5rem;
}

.btn-color{
    color: white;
    background-color: rgba(26, 188, 156);
    font-weight: 600;
    font-size: 20px;
    height: 70px;
    width: 110px;
    border-radius: 5px;
    border: none;
}
